.docs {
  h4 {
    background-color: #EFEFEF;
    padding: 15px;
    border-left: 3px solid @green-dark;
    color: @green-darker;
  }

  pre {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #EFEFEF !important;
  }
}