.docs {
  color: #555;

  .article-title {
    & i {
      padding-top: 7px;
      padding-right: 10px;
    }
    display: inline-block;
  }

  & p {
    margin-bottom: 20px;
  }

  & img {
    max-width: 100%;
  }

  & blockquote {
    border-left: 3px solid #999;
  }

  .video {
    width: 500px;
    height: 375px;
  }


  .improve-docs-link {
    float: right;
    position: relative;
    top: 15px;
    margin-right: 15px;
    color: rgba(0,0,0,0.3);
    font-size: 24px;
  }

  & h1, h2, h3 {
    font-family: "proxima_nova_ltbold", sans-serif;
    position: relative;
  }

  & h4 {
    position: relative;
    & a.link {
      top: 15px !important;
      left: -26px !important;
    }
  }
  & h2 {
    & a.link {
      top: 20px !important;
    }
  }

  & .doc-headline {
    & a.link {
      font-size: 18px;
      visibility: hidden;
      position: absolute;
      left: -23px;
      top: 2px;
      color: #555;
      padding-right: 30px;
      &:hover {
        visibility: visible;
      }
    }

    &:hover a {
      visibility: visible;
    }
  }

  & .docs-article {
    & h1, h2 {
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }

    & ul, li, p {
      font-size: 16px;
    }


    & .ide {
      margin-bottom: 30px;
      font-size: 14px !important;
      & .ide-content-outer {

        // keep this here - links get screwed up otherwise
        // height: 200px;
        border: 2px solid #DADADA;
        .border-radius(5px);
      }
    }

    h4 {
      background-color: #EFEFEF;
      padding: 15px;
      border-left: 3px solid @green-dark;
      color: @green-darker;
    }

    & pre code {
      background-color: transparent;
      color: #4D4D4C;
      font-weight: normal;
      font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    }

    & pre {
      border: 2px solid #DADADA !important;
      background-color: #FFF !important;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    & code {
      color: @green-dark;
      background-color: #DAF0DA;
      font-weight: bold;
      font-family: @fontFamily;
    }
  }
}
