.docs {
  width: 100%;
  height: 100%;
  padding-top: 72px;

  & .row {
    overflow: hidden;
    height: inherit;
  }

  &-content {
    height: 100%;
    padding-top: 15px;
  }
  &-inner-content {
    height: 100%;
    overflow: scroll;
  }
  & .ide {
    margin-bottom: 30px;
    max-height: 200px;
  }

  & .ide-tabs {
    height: 46px;
  }

  & .ide-content-outer {
    height: 100%;
    border: 2px solid #DADADA;
    .border-radius(5px);
  }

}