.ide-preview {
    color: @bgcolor-darker;
    height: 300px;
    overflow:scroll;
    background-color: #FFF;
    border: 3px solid @bgcolor-darker;
    padding-top: 10px;
    .border-radius(5px);

    & .ide-preview-inner {
        padding-bottom: 15px;
    }

  }