.chatroom-example {

  font-size: 16px;

  & .headline {
    border-bottom: 1px solid @bgcolor-darker;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  & ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  & li {
    border-bottom: 1px solid @bgcolor-darker;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}