#home {
  & .glyphicon {
    font-size: 18px;
    padding-right: 5px;
  }

  & .lightning {
    font-size: 30px;
    color: #333;
  }

  & .subheader {
    font-size: 16px;
  }

  & .demo-files {
    & .nav {
      padding-left: 15px;
      border-bottom: 0px;
      & li.active a {
        background-color: #f8f8f8 !important;
      }
    }
    & pre, code {
      min-height: 128px;
      font-size: 12px;
    }
    & pre { 
      border-color: #e3e3e3;
    }
  }

  & .demo {
    margin-top: 40px;
  }
}