#home {
  & .glyphicon {
    font-size: 18px;
    padding-right: 5px;
  }

  & .lightning {
    font-size: 30px;
    color: #333;
  }

  & .demo-files {
    & pre, code {
      min-height: 128px;
      font-size: 12px;
    }
  }

  & .demo {
    margin-top: 40px;
  }
}